log_format vhost '$host $remote_addr - $remote_user [$time_local] '
                 '"$request" $status $body_bytes_sent '
                 '"$http_referer" "$http_user_agent"';

map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

server {
  server_name _; # This is just an invalid value which will never trigger on a real hostname.
  listen 80;
  access_log /var/log/nginx/access.log vhost;
  return 503;
}

{{ range $domain, $container := . }}
  {{ range $_, $value := $container }}
    upstream {{ $domain }} {
             server {{ $value.Address }}:{{ $value.Port }};
    }
    server {
      server_name {{ $domain }};
      listen {{ $value.ListenPort }};
      location / {
        proxy_pass http://{{ $domain }};
        {{ if eq $value.Type "http" }}
          access_log /var/log/nginx/access.log vhost;
        {{ else if eq $value.Type "ws" }}
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection $connection_upgrade;
        {{ end }}
      }
    }
  {{ end }}
{{ end }}
